* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
}

.container2 {
	width: 95%;
	margin: 0 auto;
	margin-top: 30px;
	min-height: 82.3%;
}

.boxAvisos {
	border: 1px solid #EEE;
	padding: 10px;
}

h1 {
	font-size: 4em;
}

footer {
	background: #1753A3;
	color: #FFF;
	padding: 5px;
	font-size: 0.8em;
}

.barraNavegacao {
	color: #FFF;
	background: linear-gradient(#276FBB,#134B9D);
	border-bottom: 1px solid #000;
}

.navbar-dark .navbar-nav .nav-link, .sifesLogo {
	color: #FFF;
    text-shadow: 0 1px 0 #000;
    margin-left: 10px;
    margin-right: 10px;
}

.sifesLogo {
	font-weight: bold;
}

.boxPrincipal {
	background: #EEEEEE;
	padding: 50px;
}